
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/inn3/

/sphinx/data
/sphinx_data
/phpunit.xml
.phpunit.result.cache
.env.docker
/docker/sphinx/sphinx.conf
.phpunit.result.cache
/phpunit.xml

/public/assets/
/assets/vendor/

/node_modules/
/.idea/

/node_modules/
/public/build/
npm-debug.log
yarn-error.log

data/
/inns.txt
/cron.log
