<header class="header">
    <a href="/">
        <img src="{{ asset('logo.svg') }}" alt="Логотип" class="logo">
    </a>
    <span>Сервис проверки ИП/Компаний <br>
    <a href="https://github.com/AlexanderVolik98">github</a>
        </span>

</header>